---
layout: default
title: home
---
<h1 style="padding: 0 1rem;">Portfolio</h1>
<article class="portfolio">
{% for x in site.data.portfolio.work %}
  <a class="work" href="#w{{ forloop.index }}">
    <div class="work-title">
      {% if x.title %}
        <h2>{{ x.title }}</h2>
        <h3>{{ x.client }}</h3>
      {% else %}
        <h2>{{ x.client }}</h2>
      {% endif %}
    </div>
    <img src="./img/{{ x.pics[0]}}" alt="" />
  </a>
 <div class="work-detail" id="w{{ forloop.index }}">
    <div class="work-detail-header">
      <a href="#!">&times;</a>
    </div>
    {% if x.title %}
      <h2>{{ x.title }}</h2>
      <h3>{{ x.client }}</h3>
    {% else %}
      <h2>{{ x.client }}</h2>
    {% endif %}
    <div class="work-detail-inner">
      <div>{{ x.desc | markdownify }}</div>
      {% for pic in x.pics %}
      <img src="./img/{{ pic }}" alt="" />
      {% endfor %}
    </div>
  </div>
{% endfor %}
</article>
