* {
  font-size: inherit;
  box-sizing: border-box;
}
html {
  font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
  line-height: 1.4;
}
body {
  //margin: 0;
}
img {
  max-width: 100%;
  vertical-align: middle;
}
a {
  color: inherit;
}
.container {
  margin: 0 auto;
  padding: 0 1rem;
  max-width: 44rem;
}
.red {
  color: #FF4136;
}

.portfolio {
display: grid;
grid-gap: 1rem;
grid-template-columns: repeat(auto-fit, minmax(300px, auto));
}
.work {
position: relative;
padding-bottom: 1rem;
padding-right: 1rem;
}
a > .work {
  height: 100%;
}
.work-title {
  padding: 1rem;
  position: absolute;
  color: #fff;
  background: rgba(0, 60, 164, 0.6) linear-gradient(to bottom right, rgba(0, 60, 164, 0.8), #00a140);
  bottom: 0;
  right: 0;
  left: 1rem;
  z-index: 1;
}
.work-title * {
  margin: 0;
}
.work-title h3 {
font-size: .8em;
}

.work-modal {

}
.work-modal-content {
  margin-top: 1rem;
  columns: 300px;
}

.work-modal-content img {
  width: 100%;
}
.work-modal h2 {
  margin: 0;
  font-size: 2em;
}
.work-modal h3 {
  margin-top: 10px;
}
