* {
  font-size: inherit;
  box-sizing: border-box;
}
html {
  font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
  line-height: 1.4;
}
body {
  margin: 0;
}
img {
  max-width: 100%;
  vertical-align: middle;
}
a {
  color: inherit;
}
h1 {
  font-size: 2rem;
}
small {
  font-size: .8em;
}
.avatar {
  float: left;
  margin: 0 1rem 1rem 0;
}
.site-header {
  padding: .5rem 0;
}
.site-header > div {
  display: flex;
  justify-content: space-between;
}
.container {
  margin: 0 auto;
  padding: 0 1rem;
  max-width: 44rem;
}
.red {
  color: #FF4136;
}

.portfolio {
  display: grid;
  padding: 1rem;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(300px, auto));
}
.work {
  position: relative;
  padding-bottom: 1rem;
  padding-right: 1rem;
}
a > .work {
  height: 100%;
}
.work img {
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.5);
  height: 100%;
  object-fit: cover;
  object-position: 0 0;
}
.work-title {
  padding: 1rem;
  position: absolute;
  color: #fff;
  background: rgba(0, 60, 164, 0.6) linear-gradient(to bottom right, rgba(0, 60, 164, 0.8), #00a140);
  bottom: 0;
  right: 0;
  left: 1rem;
  z-index: 1;
}
.work-title * {
  margin: 0;
}
.work-title h3 {
  font-size: .8em;
}
.work-detail {
  display: none;
  position: absolute;
  padding: 1rem;
  left: 40px;
  right: 0;
  top: 0;
  background: #111;
  color: #FFF;
  z-index: 2;
}
.work-detail:target {
  display: block;
}
.work-detail-header {
  display: flex;
  justify-content: flex-end;
}
.work-detail-inner {
  columns: 300px;
  margin-top: 1rem;
}
.work-detail img {
  width: 100%;
  margin-bottom: 1rem;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.5);
}
.work-detail h2 {
  margin: 0;
  font-size: 2em;
}
.work-detail h3 {
  margin-top: 10px;
}
