<!doctype html>
<html lang="en">
<head>
<title>LRR</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<style>
* {
  font-size: inherit;
}
html {
  font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
  line-height: 1.4;
}
body {
  //margin: 0;
}
</style>
</head>
<body>
<header>
<div class="container">
  <span class="name">Jason Sackey</span>
  <nav>
    <a href="./">home</a>
    <a href="./cv.html">cv</a>
    <a href="./portfolio.html">portfolio</a>
  </nav>
</div>
</header>
<main>
  <h1>{{ page.title }}</h1>
  {{ content }}
</main>

</body>
</html>

