<!doctype html>
<html lang="en">
<head>
<title>Jason Sackey</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="style.css" />
<link rel="stylesheet" href="tingle.css" />
<style>
</style>
</head>
<body>
<header class="site-header">
  <div class="container">
    <span class="name">Jason Sackey</span>
    <nav>
      <a href="./">home</a>
      <!--a href="./cv.html">cv</a-->
      <a href="./portfolio.html">portfolio</a>
    </nav>
  </div>
</header>
<main>
  {{ content }}
</main>
<footer class="site-footer">
  <div class="container">
    <small>
      2012-2019<br>
      <a href="https://robinparisi.github.io/tingle/" target="_blank">Modal window code: tingle.js by Robin Parisi</a>
    </small>
  </div>
</footer>
</body>
</html>

